<div class="calc__form">
  <div class="cform__line cform__line-program">
    <div class="cform__line-label">Выберите программу рассрочки</div>
    <select class="cform__line-select" ng-model="programSelected" ng-change="selectProgram($index)" ng-options="program.name for program in programs track by program.id"></select>
  </div>

  <div class="calc__form-props"></div>

  <div class="cform__line-submit">
    <button class="btn btn_blue btn_block" ng-click="submit()">Рассчитать</button>
  </div>
</div>
<div class="calc__result">
  <div class="calc__result-first" ng-hide="result.program">Выберите программу, укажите все параметры и нажмите рассчитать</div>
  <div class="calc__result-program" ng-show="result.program">\{{result.program}}</div>
  <div class="calc__result-note" ng-show="result.pay">\{{result.pay}}</div>
  <div class="calc__result-summ" ng-show="result.summ"><b>\{{result.summ | number}}</b><span class="rubl">a</span>/месяц</div>
  <div class="calc__result-error" ng-repeat="error in result.errors">\{{error.msg}}</div>
</div>