html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.calc {
    background-color: #eeeded;
    display: table;
    table-layout: fixed;
    width: 740px;

    &__form {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        background-color: #f8f8f8;
        padding: 25px 20px;
    }

    &__result {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding: 25px 20px;
        text-align: center;

        &-first {
            margin-bottom: 20px;
        }

        &-error {
            color: red;
        }

        &-program {
            font-size: 13px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        &-note {
            color: #372727;
            font-size: 13px;
            margin-bottom: 10px;
        }

        &-summ {
            font-size: 24px;
        }
    }
}

.cform {
    &__line {
        margin-bottom: 15px;

        &-submit {
            margin-bottom: 0;
        }

        &-label {
            margin-bottom: 10px;
            font-size: 11px;
            color: rgba(#000, .7);
        }

        &-input,
        &-select {
            height: 44px;
            border: 1px solid #c2c2c2;
            background-color: #fff;
            width: 100%;
            padding: 0 5px;
        }

        &-input {
            padding: 0 5px;
        }

        &-select {

        }
    }
}