a {
    text-decoration: none !important;
    border-bottom: 1px solid;

    &:hover {
        opacity: .7;
    }
}

input[type="text"],
textarea {
    &:focus::-webkit-input-placeholder {
        color: transparent !important;
    }

    &:focus::-moz-placeholder {
        color: transparent !important;
    }

    &:focus:-moz-placeholder {
        color: transparent !important;
    }

    &:focus:-ms-input-placeholder {
        color: transparent !important;
    }
}

.rubl {
    font-family: $ALSRublRegular;
}

.btn {
    &_blue {
        background-color: #0366cb;
        border-radius: 0;
        color: #fff;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0;

        &:hover,
        &:focus {
            color: #fff;
            background-color: #0357ad;
        }
    }

    &_block {
        display: block;
        width: 100%;
    }
}